.table-responsive {
    overflow: overlay !important;
}

.table_body {
    max-height: 75vh !important;
    overflow: overlay !important;
}

.modal-header {
    display: initial !important;
    border-bottom: none !important;
}
.modal-footer {
    border-top: none !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    padding: 0.75em 1.5em !important;
}

.edit_form label {
    padding: 0 1rem;
}
.edit_form input {
    width: 60%;
}
.edit_form div {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    align-items: center;
}