@import url("font.css");

.logo a {
    color: blanchedalmond;
    font-family: 'Cedarville Cursive' !important;
    text-transform: lowercase !important;
    font-size: 3em !important;
    text-align: center;
}

.sidebar-wrapper {
    overflow: hidden !important;
}
.le {
    font-family: 'Cedarville Cursive' !important;
    font-size: 1.5em;
}
    
body {
    overflow: overlay;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    transition: all 0.8s ease-in-out;
	visibility: hidden;
	background: #42424282;
	border-radius: 10px;
}
body:hover::-webkit-scrollbar-thumb {
    transition: all 0.8s ease-in-out;
	visibility: visible;
}
body::-webkit-scrollbar-track {
    background: transparent;
}

/* @media screen and (max-width: 991px) {
    .sidebar-wrapper p {
	    visibility: hidden;
	}
	.sidebar {
	    transform: translate3d(0, 0, 0) !important;
		width: 10vw;
	}
	.main-panel {
	    width: 90vw;
	}
	.logo-normal {
	    visibility: hidden;
	}
}
@media screen and (max-width: 800px) {
	.sidebar-wrapper a {
	    margin-left: 0 !important;
	}
}*/


.loader,
.loader:before,
.loader:after {
  background: #51cbce;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #51cbce;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}