{% extends "base.html" %}
{% load static %}

{% block content %}

<title>Checkout</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}">
<link rel="javascript" type="text/js" href="{%static 'js/checkout.js' %}" >
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css' type='text/css' />
</head>

<body>

    <header>
        {% endblock content %}
        {% block tail %}
    </header>

    <div class="scroll-pre"></div>
    <div class="contain" style="margin-left:3%;margin-bottom: 3%;">

        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-2"  >
            <div class="col" style="margin-top: 5%;width: 55vw;">
                <div class="card" style="background-color: #ffebcdd1;">
                    <h2 style="color: #24252a;">Items you have selected:</h2>
                    <div class="" style="float: left;height:76vh;overflow: overlay;width:100%">
                        {% for item in cart %}
                        <div class="row" style="width: 100%; margin: 1% auto;">
                                <div class="card">
                                    <!-- <h5 class="card-header">Featured</h5> -->
                                    <div class="row">
                                        <div class="col-3"  >
                                            <img src={{item.itemImage}} style="height:6em;width:7em" >
                                        </div>
                                        <div class="col-7">
                                            <div class="card-body" style="margin-left: 0%;">
                                                <div class="tle" style="margin-bottom: 3%;">
                                                    <h2 class="card-title-checkout">{{item.itemName}}</h2>
                                                </div>
                                                
                                                <div class="but {{item.itemName}}">
                                                <a href="javascript:void(0)" class="minus">-</a>
                                                    <span style="width: 35px;" class="quanval">{{item.itemQty}}</span>
                                                    <a href="javascript:void(0)" class="plus">+</a>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-2" style="padding:1.5em 0;"> 
                                                <h2 class="card-title-checkout">&#8377;{{item.totalPrice}}</h2>
                                        </div>
                                    </div>

                                </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col" style="height: auto; margin-top: 5%;width: 39vw;">
                <div class="fincont" style="padding:1.5%;">
                    <div class="ordetail" style="border-bottom: 2px solid brown; margin-bottom: 1em;">
                        <h2 style="color:brown;/* border-bottom:2px solid black; *//* text-decoration: underline; */">Order Details</h2>
                    </div>
                    
                    <h4 style="color:brown;">Price Details</h4>
                    <div style="border-bottom:2px solid brown;padding-bottom: 1em;">
                        <li class="subT"><h6>Sub-Total: <span> 0 </span></h6></li>
                        <li><h6>GST-Charge: <span>5%</span></h6></li>
                        <li class="grnT"><h6>Grand-Total: <span> 0 </span></h6></li>
                    </div>
                    <br>
                    <h4 style="color:brown;">Pick-Up/Dine-In Address</h4>

                    <div class="addmap" style="border-bottom:2px solid brown;">
                        <a href="javascript:void(0)" id="mapbtn" class="click">Choose ur location</a>
                        <div class="addT"></div>
                        <div id="noAddMod"  class="modal">

                            <!-- Modal content -->
                            <div class="modal-content" style="top:40%">
                              <span class="close">&times;</span>
                              <p class="confirmText">Choose Delivery Address!</p>
                            </div>
                          
                          </div>
                        <!-- <div id="addL" style="visibility: hidden;"></div> -->
                        <!-- <input type="text" class="addT1"> -->
                        <div id="myModal" class="modal" style="display: none;">
                            <div class="modal-content" >
                              <span class="close">×</span>
                              <div class="addList" style="position: absolute;height:80%;width: 100%;margin: 7% auto">
                                <h3>Choose your Location</h3>
                                <!-- <div class="click newLoc" id="newLoc">Choose another location</div> -->
                                <div class="addList1" style="overflow:overlay ;height: 100%;padding: 0 1em;">
                                   
                                    <div class="click newLoc" id="newLoc">Choose another location</div>
                                    <div class="click addC">A1-304,Keshav Heights,Parsik Nagar,Kalwa,Thane A1-304,Keshav Heights,Parsik Nagar,Kalwa,Thane</div>
                                    <div class="click addC">A1-304,Keshav Heights,Parsik Nagar,Kalwa,Thane</div>
                                    <div class="click addC">A1-304,Keshav Heights,Parsik Nagar,Kalwa,Thane</div>
                                    <div class="click addC">A1-304,Keshav Heights,Parsik Nagar,Kalwa,Thane</div>
                                    <div class="click addC">A1-304,Keshav Heights,Parsik Nagar,Kalwa,Thane</div>
                                    <div class="click addC">A1-304,Keshav Heights,Parsik Nagar,Kalwa,Thane</div>
                                    <div class="click addC">A1-304,Keshav Heights,Parsik Nagar,Kalwa,Thane</div>
                                </div>
                                
                              </div>
                              <div style="margin: 0 auto;visibility: hidden;" class="addMap">
                                <h3>Choose your Location</h3>
                                <div id='map' style='width: 400px; height: 250px; margin:0 auto'></div>
                                Your Location: 
                                  <span id="addText">jbva adjvba daovbpav iadvp</span><br>
                                  <label for="add1">Flat No/Building Name:</label>
                                  <input name="add1" class="add1" style="width:20rem;margin-bottom:2px ;" type="text" placeholder="flatNo,building">
                                  <label for="add2">Locality:</label>
                                  <input name="add2" class="add2" style="width:20rem;margin-bottom:2px ;" type="text" placeholder="locality"><br>
                                  <a href="javascript:void(0)" class="click locConf" >Confirm</a>
                              </div>
                              <!-- <div>
                                Your Location: 
                                  <span id="addText">jbva adjvba daovbpav iadvp</span><br>
                                  <label for="add1">Address:</label>
                                  <input name="add1" style="width:20rem" type="text" placeholder="flatNo,building">
                              </div> -->
                              
                            </div>
                                                     
                                
                            
                        </div>
                    </div>

                    <div class="protopay" style="margin-bottom: 10%;">
                        <a href="javascript:void(0)" id="place" class="click">Place Order</a>
                        <div id="myMod" class="modal">
                            <div class="modal-content">
                                <span class="close">×</span>
                                <h3>BILL</h3>
                                <div class="bill">
                                <ul class="ba" style="border-bottom: 2px solid brown;">
                                    <li>
                                        <div id="finalL">
                                            <div><b>Food Item</b></div>
                                            <div>&emsp;<b> Quantity</b></div>
                                            <div><b>Price</b></div>
                                        </div>
                                    </li>
                                    <div class="orderPrev">
                                {% for item in cart %}
                                    <li>
                                        <div id="finalL">
                                            <div>{{item.itemName}}</div>
                                            <div>&emsp;&emsp;{{item.itemQty}}</div>
                                            <div>&#8777;{{item.totalPrice}}</div>
                                        </div>
                                    </li>
                                {% endfor %}
                                </div>
                                </ul>
                                    <div style="border-bottom: 2px solid brown;">
                                        <div >
                                            <div class="subT"><h6>Sub-Total:&emsp13;&#8377;<span>100</span></h6></div>
                                            <div><h6>GST-Charge:&emsp13;<span>5%</span></h6></div>
                                            <div class="grnT"><h6>Grand-Total:&emsp13;&#8377;<span>100</span></h6></div>
                                        </div>
                                    </div>
                                    <div >
                                        <div id="successMod" class="modal">

                                            <!-- Modal content -->
                                            <div class="modal-content" style="top:40%">
                                              <span class="close">&times;</span>
                                              <p class="confirmText">Order placed succesfully!</p>
                                            </div>
                                        </div>
                                        <br>
                                        <a href="javascript:void(0)" class="click pn">Pay Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ cart|json_script:"cart"}}
    <script src="{% static 'js/checkout.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
{% endblock tail %}