{% extends "base.html" %}
{% load static %}

{% block content %}

<title>Contact Page</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">

</head>

<body>

    <header>
        {% endblock content %}
        {% block tail %}
    </header>

    <div class="scroll-pre"></div>
    
    
    <div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.77773837286!2d72.89735661485128!3d19.0735073870893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c627a20bcaa9%3A0xb2fd3bcfeac0052a!2sK.%20J.%20Somaiya%20College%20of%20Engineering!5e0!3m2!1sen!2sin!4v1615800549579!5m2!1sen!2sin"
            width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <br>

    <div class="contactP">
        <h3 style="color: rgb(117, 73, 6);border-bottom: 2px solid black;">Contact Info</h3>
        <p><b>ADDRESS:-</b>KJ Somaiya College Of Engineering VidyaVihar
            Ghatkopar East,Mumbai,Maharashtra 400077</p>
    </div>

    <div class="contactP">
        <h3 style="color: rgb(117, 73, 6);border-bottom: 2px solid black;">Hours</h3>
            <p>Open all days
            <br>Monday to Friday: 15:00 - 22:30
            <br>Saturday & Sunday: 10:00 - 22:30</p>
    </div>

    <div class="contactP">
        <h3 style="color: rgb(117, 73, 6);border-bottom: 2px solid black;">Our Members</h3>
                <li>VEDANT SARNOBAT</li>
                <li>OMKAR SAWANT</li>
                <li>SWANAND APTE</li>
                <li>ADITYA TAWADE</li>
    </div>

    
    {% endblock tail %}