{% extends "base.html" %}
{% load static %}

{% block content %}

<title>Contact Page</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">

</head>

<body>

    <header>
        {% endblock content %}
        {% block tail %}
    </header>

    <div class="scroll-pre"></div>
    
    
    <div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.77773837286!2d72.89735661485128!3d19.0735073870893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c627a20bcaa9%3A0xb2fd3bcfeac0052a!2sK.%20J.%20Somaiya%20College%20of%20Engineering!5e0!3m2!1sen!2sin!4v1615800549579!5m2!1sen!2sin"
            width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <br>

    <div class="contactP">
        <h3>CONTACT INFO</h3>
        <div>
            <b>ADDRESS:-</b>KJ Somaiya College Of Engineering VidyaVihar
            Ghatkopar East,Mumbai,Maharashtra 400077
        </div>
    </div>

    <div class="contactP height">
        <!-- <h3>Hours</h3> -->
        <div class="row row-cols-2">
            <div class="col col-4"><h3>DAYS</h3></div>
            <div class="col col-8"><h3>TIMING</h3></div>
        </div>
        {% for X in position %}
            {% for day in timing  %}
                {% if X == day.pos  %}
                <div class="row row-cols-2">
                    <div class="col col-4">{{ day.day }}</div>
                    <div class="col col-8">{{ day.hours }}</div>
                </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

    <div class="contactP">
        <h3>OUR MEMBERS</h3>
        <ul style="list-style: none; text-align: center;">
            <li>VEDANT SARNOBAT (vedant.sarnobat@somaiya.edu)</li>
            <li>OMKAR SAWANT (omkar18@somaiya.edu)</li>
            <li>SWANAND APTE (aditya.tawade@somaiya.edu)</li>
            <li>ADITYA TAWADE (swanand.apte@somaiya.edu)</li>
        </ul>
    </div>
    
{% endblock tail %}