{% load static %}

<html>
    <head>

        <title>Home Page</title>
        <link rel="stylesheet" type="text/css" href="/static/css/home.css">
        <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="icon" type="image/png" href="/static/css/images/compnay_logo_100.png">
        
        <script>
            document.addEventListener("scroll", function () {
                const navbar = document.querySelector(".home_navbar");
                const navbarHeight = 20;

                const distanceFromTop = Math.abs(
                    document.body.getBoundingClientRect().top
                );

                if (distanceFromTop >= navbarHeight) navbar.classList.add("fixed-top");
                else navbar.classList.remove("fixed-top");
            });
            
            function scrolldiv(arg) { 
                var elem = document.getElementById(arg); 
                elem.scrollIntoView();
            }
        </script>
    </head>
    <body>

        <header id="top">
            <nav class="home_navbar navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="company" href="#top">
                        <!-- <div> -->
                            <img class="logo" src="{% static 'css/images/compnay_logo_100.png' %}">
                            <div>le mieux</div>
                        <!-- </div> -->
                    </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <img src="/static/css/images/down.png" style="width: 30px; height: 30px;">
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav_item navbar-nav me-auto mb-2 mb-lg-0">
                        <a class="navi nav-link" href="#offers"><li>OFFERS</li></a>
                        <a class="navi nav-link" href="#menu"><li>MENU</li></a>
                        <a class="navi nav-link" href="#contact"><li>CONTACT</li></a>

                        {% if us %}
                            <li class="nav-item dropdown">
                                <a class="navi nav-link dropdown-toggle _down" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{us.email}}
                                </a>
                                <ul class="dropdown-menu _drop" aria-labelledby="navbarDropdown" data-bs-popper="none">
                                    <li><a class="dropdown-item" href="/orders/check">Cart</a></li>
                                    <li><a class="dropdown-item" href=/orders/history>Orders</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/accounts/logout"> LOGOUT</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <a class="navi nav-link" href="/accounts/login">
                                <li>LOGIN</li>
                            </a>
                        {% endif %}
                    </ul>
                    <!-- <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                    </form> -->
                </div>
                </div>
            </nav>

            <div class="wel-txt">
                WELCOME!
            </div>
        </header>
        
        <div class="scroll" id="offers">
            <div>
                <marquee direction="left" scrollamount="10">GET UPTO 50% OFF ON YOUR FIRST ORDER</marquee>
            </div>
        </div>
        
        <div class="scroll" id="menu">
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
                <a class="click" href="/menu">SEE MENU</a>
            </div>
        </div>
        
        <!-- <div class="scroll" id="cart">
            <a class="click" href="#">PROCEED TO CHECKOUT</a>
        </div> -->
        
        <div class="scroll" id="map">
            <h1>Map & Directions</h1>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.77773837286!2d72.89735661485128!3d19.0735073870893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c627a20bcaa9%3A0xb2fd3bcfeac0052a!2sK.%20J.%20Somaiya%20College%20of%20Engineering!5e0!3m2!1sen!2sin!4v1615800549579!5m2!1sen!2sin" width="720" height="430" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        
        <div class="scroll" id="contact">
            <div class="container">
                <div class="row" style="margin-top: 5em;">
                    <div class="col-lg">
                        <h1 style="font-size: 2em;">Contact Us</h1>
                        <ul>
                            <li>vedant.sarnobat@somaiya.edu</li>
                            <li>omkar18@somaiya.edu</li>
                            <li>aditya.tawade@somaiya.edu</li>
                            <li>swanand.apte@somaiya.edu</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    </body>
</html>