{% load static %}

<html>
    <head>

        <title>Home Page</title>
        <link rel="stylesheet" type="text/css" href="/static/css/home.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        
        <script>
            document.addEventListener("scroll", function () {
                const navbar = document.querySelector(".barnav");
                const navbarHeight = 50;

                const distanceFromTop = Math.abs(
                    document.body.getBoundingClientRect().top
                );

                if (distanceFromTop >= navbarHeight) navbar.classList.add("fixed-top");
                else navbar.classList.remove("fixed-top");
            });
            
            function scrolldiv(arg) { 
                var elem = document.getElementById(arg); 
                elem.scrollIntoView();
            } 

            // $(function() {
            //     $('.scroll').on('scroll', function(e) {
            //         e.preventDefault();
            //         $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top}, 500, 'linear');
            //     });
            // });

        </script>
    </head>
    <body>

        <header>
            <!-- <img src="https://img.icons8.com/pastel-glyph/64/000000/dinner--v2.png"  href="home.html">     -->
            <nav class="barnav">
                <a href="/home">
                    <div class="company">
                        <img class="logo" src="/static/css/images/compnay_logo_100.png">le mieux
                    </div>
                </a>
                <ul class="nav_item">
                    {% if us %}
                    <a id="navi" href="/accounts/logout">
                        <li id="navlist">LOGOUT</li>
                    {% else %}
                    <a id="navi" href="/accounts/login">
                        <li id="navlist">LOGIN</li>
                    {% endif %}
                    
                    <a id="navi" onclick="scrolldiv('offers')"><li id="navlist">OFFERS</li></a>
                    <a id="navi" onclick="scrolldiv('menu')"><li id="navlist">MENU</li></a>
                    <a id="navi" onclick="scrolldiv('contact')"><li id="navlist">CONTACT</li></a>
                    <!-- <li id="navi"> -->
                        <!-- <a class="cart" onclick="scrolldiv('cart')"><img src="/static/css/images/cart.png" alt="CART"></a> -->
                    <!-- </li> -->
                </ul>
            </nav>
        </header>
        
        <div class="scroll" id="offers">
        <marquee direction="right">GET UPTO 50% OFF ON YOUR FIRST ORDER</marquee>
        </div>
        
        <div class="scroll" id="menu">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
            <a class="click" href="/menu">SEE MENU</a>
        </div>
        
        <!-- <div class="scroll" id="cart">
            <a class="click" href="#">PROCEED TO CHECKOUT</a>
        </div> -->
        
        <div class="scroll" id="contact">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>

    </body>
</html>