* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    /* background-color: #24252a; */
}
img {
    width: 100%;
}
li, a {
    font-size: 16px;
    font-weight: 500;
}

header {
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    padding: 10px 60px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F826921.jpg&f=1&nofb=1");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    position: relative;
}

#nav_com {
    text-decoration: none;
    color: blanchedalmond;
}

.nav_item {
    margin-bottom: 0;
}

.nav_item li {
    display: inline-block;
    padding: 5px 20px;
}

.nav_item li a {
    transition: all 0.3s ease 0s;
}

#nav_com:hover {
    color: #2bcef7;
}

.logo img {
    cursor: pointer;
    width: 50px;
    height: auto;
}

.logo {
    font-style: italic;
    margin-right: auto;
    font-size: 20px;
}

.wel-txt {
    position: absolute;
    width: 600px;
    text-align: center;

}