{% extends "base.html" %}
{% load static %}

{% block content %}
    
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}"> -->
        
    </head>
    <body>
      <header>
{% endblock content %}
{% block tail %}
      </header>

    <div class="bgimg">

      <form action="/accounts/login" method="POST">
        {% csrf_token %}
        
        <div class="login-form">
          <h1 id="sign-head">Sign in</h1>New user? <a class="link" href="/accounts/signup">Create an account</a>
          <br>
          <br>
          <br>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>
          <br>
          <br>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required>
          <br>
          <br>
          <br>
          <button id="submit" type="submit">Login</button>
          <!-- <a class="link" id="frgt-pass" href="#">Forgot password?</a> -->
        </div>

      </form>

    </div>

    <!-- <div class="credits"><img src="{% static 'css/images/camera.png' %}" alt="">: Daniel Krieger</div> -->
    <script src="{% static 'js/signup.js' %}"></script>

{% endblock tail %}