{% load static %}
<html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
    <body>
        <h1>
           Login Page
        </h1>
        <a href="/home">home</a>
        <a href="/menu">menu</a>
        <a href="/accounts/login">Login</a>
        <a href="/accounts/signup">Signup</a>
        <a href="/contact">contact</a>
        <center><h1>Welcome to POS Restaurant</h1></center>


<form action="action_page.php" method="post">
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
  </br ></br>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
</br></br>
    <button type="submit">Login</button>
    <button type="submit" onclick="location.href='signup.html';">Signup</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
    </body>
</html>