{% extends "base.html" %}
{% load static %}

{% block content %}
    
        <title>Login Page</title>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
        
    </head>
    <body>
      <header>
{% endblock content %}
{% block tail %}

    </header>
    <!-- <div class="scroll-pre"></div> -->
    <div class="bgimg">

      <form action="/accounts/login" method="POST">
              {% csrf_token %}
        <div class="container">
          <label for="email"><b>Email</b></label>
          <input type="email" placeholder="Enter email" id="email" name="email" required>
        </br ></br>
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" id="password" name="password" required>
      </br></br>
          <button type="submit"  id="btnsubmit">Login</button>
          <button action="/accounts/signup">Signup</button>
          
        </div>

        <div class="container">
          <span class="psw"><a href="#">Forgot password?</a></span>
        </div>
      </form>
    </div>

    <div class="credits"><img src="{% static 'css/images/camera.png' %}" alt="">: Daniel Krieger</div>
    <script src="{% static 'js/signup.js' %}"></script>

{% endblock tail %}