{% extends "base.html" %}
{% load static %}

{% block content %}

        <title>Menu Page</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        </head>
        <body>

                <header>
                        {% endblock content %}
                        {% block tail %}
                </header>

                <div class="scroll-pre"></div>

                <div class="cont1">
                        <p class="Category">Snacks</p>
                        <!-- <div class="row"  style="border: 2px solid blue;"> -->
                                <div class="div_card container" style=" min-width: 500px;max-width:95%;border: 2px solid red;">
                                        <div  style="float: left;padding-left: auto;padding-right: auto">
                                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 g-4">
                                                        {% for item in items  %}
                                                        <div class="_cards" style="height: 100%;">
                                                                <div style="height: 35rem;">
                                                                        <!--class="card-img-top" --> 
                                                                        <div class="card_img" style="height: 40%; background-image: url('{{item.Image}}');">
                                                                                <!-- <img class="card-img-top" alt="Card image cap" style=""> -->
                                                                        </div>
                                                                        <div class="card-body"style="background-color: blanchedalmond ; max-height:60%;border-bottom-left-radius:10% ;font-size:100%;overflow:hidden ">
                                                                                <!-- <br> -->
                                                                                <div style="height: 20%;border:green 2px solid ;">
                                                                                        <h5 class="card-title-1" style="font-size: 1.3em;font-weight: bold;">{{item.Name}}</h5>
                                                                                </div>
                                                                                <br>
                                                                                <!-- {{item.Description}} -->
                                                                                <div style="height: 50%;overflow: hidden;text-overflow: ellipsis; border:yellow 2px solid ;">
                                                                                        <p class="card-text" style="font-size: 0.8em;  " >fansjfb asjfbiasf safhs isahfip oihfspai isafio jasfon sjafoh asfiphuga ljsbaip safpisafn asfpisafp saolbf safh siahfp aksfpsasfj alksfpsaf sanfpisafn sakfnp</p>
                                                                                </div>
                                                                                <br>
                                                                                <div style="height: 30%;border:black 2px solid ;">
                                                                                        <a href="#" class="click" onclick="myfunct()">Add</a>
                                                                                </div>
                                                                                
                                                                        </div>
                                                                </div>
                                                        </div>
                                                        {% endfor %}
                                                </div>
                                        </div>
                                </div>
                                <!-- </div> -->
                </div>
                <div class="_cart" style="border: 2px solid green; position: sticky;">
                        <div style="background-color: aliceblue; width:100%; height:30px;top:25%; "> hello</div>
                                <div class="cartinside">
                                        <div>
                                        SOMETHING<br>
                                        SOMETHING<br>
                                        SOMETHING<br>
                                </div>
                        </div>
                </div>

                <script src="{% static 'js/menu.js' %}"></script>
{% endblock tail %}       