{% extends "base.html" %}
{% load static %}

{% block content %}
    
        <title>Signup</title>
        <link rel="stylesheet" href="{% static 'css/signup.css' %}">
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}"> -->
  </head>
  <body>
    <header>
{% endblock content %}
{% block tail %}
    </header>

    <!-- <div class="scroll-pre"></div> -->
    
    <div class="bgimg">
      <!-- <form action="#" > -->
        <div class="form">
        {% csrf_token %}
        <div class="container">
          <h1>Sign Up</h1>
          Already have an account? <a class="link" href="/accounts/login">Sign in</a>
          <br><br><br>

          <label for="name">Name</label>
          <input type="text" id="name" name="name" required>
          <br><br>
          
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>
          <br><br>
          
          <label for="password">Password</label>
          <input type="password" id="password" name="password" minlength="6" required>
          <br><br>
          
          <!-- <label for="psw-repeat">Repeat Password</label>
          <input type="password" id="password-rpt" name="psw-repeat" required>
          <br><br> -->

          <!-- <label for="add">Address</label>
          <input type="text" id="address" name="address" required>
          <br><br> -->
          
          <label for="cont">Contact Number</label>
          <input type="text" id="phone" name="phone" required>
          <br><br>
        
          <!-- <p>By creating an account you agree to our <a href="#" class="link">Terms & Privacy</a>.</p> -->
          <br>
            
          <div>
            <button  id="submit">Create account</button>
          </div>
        </div>
      <!-- </form> -->
    </div>
    </div>

    <div id="successMod" class="modal">
      <!-- Modal content -->
      <div class="modal-content" style="top:40%">
        <!-- <span id="close" class="close">&times;</span> -->
        <p class="errorBox" style="color: blanchedalmond;"></p>
      </div>
  </div>
    <!-- <div class="credits"><img src="{% static 'css/images/camera.png' %}" alt="">: Daniel Krieger</div> -->
  
    <script src="{% static 'js/signup.js' %}"></script>
{% endblock %}