body,
html {
  overflow: overlay;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/restro.jpg");
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  background-attachment: fixed;
  position: relative;
  /* height: 100vh; */
}

.scroll-pre {
  height: 89px;
  width: 100%;

  background-color: transparent;
}

p {
  color: black;
}

footer {
  display: none;
}

.contactP {
  background-color: blanchedalmond;
  width: 40%;
  height: auto;
  margin-left: 30%;
  margin-bottom: 2%;
  padding: 2%;
  border-radius: 1em;
  /* display: flex;
  justify-content: center; */
}

.contactP h3 {
  color: rgb(117, 73, 6);
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 0.5em;
}
.col {
  text-align: center;
}