@import url('fonts.css');

.selector-for-some-widget {
    box-sizing: content-box;
}

* {
    /* box-sizing: border-box;  */
    margin: 0;
    padding: 0;
    /* background-color: #24252a; */
}

img {
    width: 100%;
}

li, a {
    font-size: 16px;
    font-weight: 500;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 60px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/home_page.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    position: relative;
}

.home_navbar {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    /* padding: 0px 60px 5px; */
    /* align-items: center; */
    /* justify-content: space-between; */
    background-color: transparent !important;
}

.home_navbar li {
    font-size: 25px !important;
}

.home_navbar ._down {
    font-size: 25px !important;
}

.home_navbar.fixed-top {
    position: fixed !important;
    top: 0;
    width: 100%;
    background-color: #24252aee !important;
    color: #ffebcd;
    padding: 0px 60px;
    /* transition: all 0.3s ease 0s; */
    
    transition: background .25s ease-in-out,color .25s ease-in-out,box-shadow .25s ease-in-out,opacity .25s ease-in-out,visibility .25s ease-in-out;
        transition-property: background, color, box-shadow, opacity, visibility;
        transition-duration: 0.25s, 0.25s, 0.25s, 0.25s, 0.25s;
        transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out;
        transition-delay: 0s, 0s, 0s, 0s, 0s;
    
}
.home_navbar.fixed-top ._down {
    font-size: 20px !important;
}
.home_navbar.fixed-top li {
    font-size: 20px !important;
}

/* WELCOME TEXT IN HEADER */
.wel-txt {
    /* position: absolute; */
    width: 600px;
    text-align: center;
    margin: auto;
    font-size: 100px;
    font-family: 'Port Lligat Sans';
    color: blanchedalmond;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/menu.jpg");
    background-size: cover;
    background-attachment: fixed;    
}

/* SCROLLING PAGES */
.scroll {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    padding: 5em;
    font-size: 1.8em;
    text-align: -webkit-center;
    font-family: 'Port Lligat Sans', sans-serif;
    color: blanchedalmond;
    vertical-align: middle;
}

/* #menu {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/menu.jpg");
} */

#offers {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("http://data.freehdw.com/godfather-black-offer-mafia-movie-movies-hd-background.jpg");
}

marquee {
    background-color: transparent;
    color: blanchedalmond;
    font-family: "Varela Round";
}

#contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/contact.jpg");
}

#cart {
    background: #24252a;
}

/* BUTTONS */
.click {
    line-height: 56px;
    padding: 5px 20px;
    font-size: 18px;
    border-radius: 40px;
    background-color: #24252a6e;
    color: blanchedalmond;
    border: 2px solid blanchedalmond;
    text-decoration: none;
    margin: auto;
    font-family: 'Varela Round', sans-serif;
}

.click:hover {
    transition: all 0.4s ease-in-out;
    background: blanchedalmond;
    color: #24252a;
}

.cart {
    padding: 40px 20px 30px 20px;
}

.cart:hover {
    background: blanchedalmond;
}

/* .cart:hover img {
    -webkit-mask-image: url("/images/cart_dark.png");
} */

.cart img {
    width: 30px;
    height: 30px;
}