* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    /* background-color: #24252a; */
}

img {
    width: 100%;
}

li, a {
    font-size: 16px;
    font-weight: 500;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 60px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F826921.jpg&f=1&nofb=1");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    position: relative;
}

#nav_com {
    text-decoration: none;
    color: #ffebcd;
}

.nav_item {
    cursor: pointer;
    margin-bottom: 0;
    float: right;
}

.nav_item li {
    display: inline-block;
    padding: 30px 20px;
}

.nav_item li a {
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

#navi:hover {
    transition: all 0.3s ease 0s;
    background: blanchedalmond;
}
#navi:hover a{
    transition: all 0.3s ease 0s;
    /* font-weight: 500; */
    color: #24252a;
}

.logo {
    cursor: pointer;
    width: 70px;
    height: 70px;
}

.company {
    float: left;
    padding: 10px 10px 10px 0px;
    font-size: 26px;
    font-style: italic;
    color: blanchedalmond;
}

.company:hover {
    /* filter: drop-shadow(1px 1px 0.3px cyan); */
    filter: drop-shadow(1px 1px 10px black);
}

.wel-txt {
    position: absolute;
    width: 600px;
    text-align: center;
}

.barnav {
    /* position: absolute; */
    /* display: flex; */
    top: 0;
    width: 100%;
    padding: 10px 60px;
    align-items: center;
    justify-content: space-between;
}

.barnav.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    background: #24252aee;
    color: #ffebcd;
    padding: 0px 60px;
    transition: all 0.3s ease 0s;
}

.scroll {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    padding: 200px 300px;
}

#menu {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/menu.jpg");
}

#offers {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("http://data.freehdw.com/godfather-black-offer-mafia-movie-movies-hd-background.jpg");
}

#contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/contact.jpg");
}

.click {
    line-height: 56px;
    padding: 5px 20px;
    font-size: 18px;
    border-radius: 40px;
    background-color: #24252a6e;
    color: blanchedalmond;
    border: 2px solid blanchedalmond;
    text-decoration: none;
}

.click:hover {
    background: blanchedalmond;
    color: #24252a;
}